#
#	Project info
#
	APP=vhs
	APP_VER="$(tmp=$(\grep _version= bin/vhs.sh);echo ${tmp/*=};tmp='')"
	APP_REQUIRES="git which awk grep sed ffmpeg"
	BUGS=erat.simon@gmail.com
	ISSUE="https://github.com/sri-arjuna/vhs/issues"
#
#	Project files
#
	BINDIR=bin/vhs
	DOCDIR="docs/ChangeLog docs/INSTALL.md docs/LICENSE docs/README.md"
	COMPLDIR=files/vhs_compl.bash
	MAN1DIR=docs/vhs.1
	APPDIR=links
	ICONDIR=./icons/hicolor
#
#	Tasks : Prior
#
	PRIOR[0]="cp bin/vhs.sh bin/vhs"
#
#	Tasks : Post
#	Install dependency : TUI
#
	CLEAN[0]="rm bin/vhs"
	POST[0]="which tuirc 1>/dev/zero 2>/dev/zero || git clone git://git.savannah.nongnu.org/tui.git"
	POST[1]="! which tuirc 1>/dev/zero 2>/dev/zero && cd tui && ./configure --prefix=${prefix} && ( sh ./make && ./make-install || echo) && cd .."
#
#	Tasks : Remove
#
	REMOVE[0]="[ -d tui ] && tui-yes 'Remove TUI as well?' && (cd tui;./make-uninstall;cd ..) && rm -fr tui"
