[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=VHS-Videoplayer
Comment=Video Handler Script (GUI Video Handler)
Exec=vhs -vP %F
Icon=vhs-videos
Terminal=true
Categories=AudioVideo;Player;Recorder;Multimedia
MimeType=video/mp4;video/mpg4;video/mpeg;video/mpv;video/ogg;video/webm;video/x-flv;video/m4v;video/x-mmatroska;video/x-ms-asf;video/x-ms-vob;video/x-ms-wmv;video/x-msvideo;video/vnd.mts;video/vnd.vivo;video/vnd.dece.hd;video/vnd.dece.mobile;video/vnd.dece.mp4;video/vnd.video;audio/3gpp;audio/3gpp2;audio/AMR;audio/DAT12;audio/DVI4;audio/DV;audio/GSM;audio/mpa;audio/ac3;audio/amr;audio/asc;audio/dls;audio/dvi4;audio/flac;audio/gsm;audio/midi;audio/mobile-xmf;audio/mp4a;audio/mpa;audio/ogg;audio/mpeg;audio/red;audio/rtx;audio/speex;audio/vnd.dolby.heaac.1;audio/vnd.dobly.heaac.2;audio/vnd.dobly.mlp;audio/vnd.dts;audio/vnd.dvb.file;audio/vorbis;audio/x-aac;audio/x-aiff;audio/x-caf;audio/x-flac;audio/x-gsm;audio/x-ms-wax;audio/x-ms-wma;audio/x-realaudio;audio/x-wav;audio/xm
Keywords=Player;Capture;DVD;Audio;Video;Server;Broadcast;

